* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

:root {
    --accent-color: #fafc6b;
    --text-color: #fff;
    --text-color-shade: #e2e2e2c4;
}

::-webkit-scrollbar {
    width: 5px;
    background: #FBFBFF;
}

::-webkit-scrollbar-thumb {
    background: #EB3349;
}

body {
    width: 100%;
    height: 100vh;
    background: #222430;
    color: var(--text-color);
    overflow-x: hidden;
    font-family: 'Space Grotesk', sans-serif;
}

header {
    width: 100%;
    height: 10%;
    background: transparent;
}

#nav-bar {
    height: 100%;
    width: 100%;
    color: #17212d;
}

.navbar {
    color: #17212d;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.navbar-toggler:focus {
    outline: none !important;
}

.navbar-nav {
    margin-left: auto;
}

.active-state {
    color: #fff;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--text-color-shade);
}

.nav-description {
    width: 40%;
    height: 100%;
    background: transparent;
    margin-left: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-description>h1 {
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 800;
}

.navigation {
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link-wrapper {
    background: transparent;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 4rem;
}

.nav-link-wrapper a {
    text-decoration: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
}

.my-intro-container {
    background: url("../assets/img/bg.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem 2rem 1rem;
}

.my-description {
    grid-area: my-description;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 1rem;
}

.cta-area {
    grid-area: cta-area;
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.btn {
    width: 14rem;
    padding: 1.6rem;
    border-radius: 5rem;
    font-family: 'Space Grotesk', sans-serif;
    transition: all .3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(.92);
    color: #fff;
}

.browse-btn {
    border: 3px solid var(--accent-color);
    background: transparent;
    color: var(--text-color);
    font-size: 1em;
}


/* containers */

.about-container,
.catalog-container,
.my-services-container,
.contacts-container,
#footer,
.catalog-container {
    width: 100%;
    height: 100%;
    background: #222430;
    padding: 2rem 2rem;
}

.image-card {
    width: 100%;
    height: 450px;
    display: relative;
    background: url("../assets/img/about-bg.jpg") no-repeat center;
    background-size: cover;
    border-radius: 2rem;
    transform: rotate(-5deg);
    z-index: 1;
}

.image-clone {
    transform: rotate(8deg);
    width: 350px;
    height: 450px;
    background: #432f30;
    filter: blur(60px);
}

.about-header {
    grid-area: about-header;
    background: transparent;
    display: flex;
    align-items: center;
}

.about-description {
    grid-area: about-description;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about-description ul {
    width: 100%;
    height: 50%;
    background: transparent;
    padding: 1rem;
}

.about-description li {
    width: 100%;
    font: 1.2em;
    font-weight: 400;
    color: var(--text-color);
    line-height: 2;
}

.hire-me-area {
    grid-area: hire-me-area;
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hire-me-btn {
    border: 3px solid var(--accent-color);
    background: transparent;
    color: var(--text-color);
    font-size: 1em;
    width: 12rem;
}

.catalog-header {
    grid-area: catalog-header;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.catalog-header h3 {
    width: 60%;
    text-align: center;
    height: 50%;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--text-color-shade);
    line-height: 2;
}

.card {
    width: 100%;
    height: 500px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.graphics-card {
    background: url("../assets/img/card-bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.software-card {
    background: url("../assets/img/card-bg2.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.arts-card {
    background: url("../assets/img/card-bg3.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.package-image {
    width: 100%;
    height: 60%;
    background: transparent;
    border-radius: 1rem;
    position: relative;
    z-index: 3;
}

.package-name {
    width: 100%;
    height: 10%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.package-description {
    width: 100%;
    height: 30%;
}

.package-description ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.package-description li {
    list-style: none;
}

.catalog-footer {
    grid-area: catalog-footer;
    background: transparent;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pricing-card {
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.price-range {
    width: 100%;
    height: 10%;
    background: transparent;
}

.price-range h3 {
    color: var(--text-color-shade);
}

.price-for {
    width: 100%;
    height: 20%;
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.price-for h1 {
    font-weight: 700;
    font-size: 2em;
}

.price-description {
    width: 100%;
    height: 40%;
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.price-description h3 {
    font-weight: 400;
    color: var(--text-color-shade);
}

.price-view {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.underline {
    width: 2rem;
    height: 3px;
    background: var(--text-color-shade);
    transition: all .5s ease;
}

.view-btn {
    width: 7rem;
    height: 4rem;
    padding: 0;
    font-size: 1em;
    letter-spacing: .5px;
    font-weight: 600;
    border: transparent;
    border-radius: 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-color);
    transition: all .5s ease;
}

.view-btn:hover {
    color: var(--text-color-shade);
    transform: none;
}

.price-view:hover .underline {
    width: 7rem;
    background: var(--accent-color);
}

.services-header {
    grid-area: services-header;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.digital-illustrations {
    grid-area: digital-illustrations;
}

.coding {
    grid-area: coding;
}

.tech-solutions {
    grid-area: tech-solutions;
}

.ui-ux {
    grid-area: ui-ux;
}

.services-header h1,
.services-header h3 {
    width: 50%;
}

.services-header h1 {
    color: var(--text-color);
    font-weight: 700;
    font-size: 5em;
}

.services-header h3 {
    background: transparent;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--text-color-shade);
    line-height: 2;
}

.digital-illustrations,
.coding,
.tech-solutions,
.ui-ux {
    padding: 2rem;
    background: rgba( 255, 255, 255, 0.075);
    box-shadow: 0 8px 40px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 10px);
    -webkit-backdrop-filter: blur( 10px);
    border-radius: 2rem;
    -webkit-box-shadow: inset -39px 0px 56px -56px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset -39px 0px 56px -56px rgba(255, 255, 255, 0.25);
    box-shadow: inset -39px 0px 56px -56px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: inset -7px 0px 21px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset -7px 0px 21px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset -7px 0px 21px 0px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset -82px 0px 68px 0px rgba(96, 68, 144, 0.18);
    -moz-box-shadow: inset -82px 0px 68px 0px rgba(96, 68, 144, 0.18);
    box-shadow: inset -82px 0px 68px 0px rgba(96, 68, 144, 0.18);
    -webkit-box-shadow: inset -98px 0px 100px -108px rgba(202, 172, 255, 0.1);
    -moz-box-shadow: inset -98px 0px 100px -108px rgba(202, 172, 255, 0.1);
    box-shadow: inset -98px 0px 100px -108px rgba(202, 172, 255, 0.1);
    -webkit-box-shadow: inset -4px 0px 18px 0px rgba(154, 146, 210, 0.15);
    -moz-box-shadow: inset -4px 0px 18px 0px rgba(154, 146, 210, 0.15);
    box-shadow: inset -4px 0px 18px 0px rgba(154, 146, 210, 0.15);
    -webkit-box-shadow: inset -1px 0px 40px 0px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset -1px 0px 40px 0px rgba(255, 255, 255, 0.15);
    box-shadow: inset -1px 0px 40px 0px rgba(255, 255, 255, 0.15);
}

.digital-illustrations h1,
.coding h1,
.tech-solutions h1,
.ui-ux h1 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-weight: 700;
    font-size: 2em;
}

.digital-illustrations h3,
.coding h3,
.tech-solutions h3,
.ui-ux h3 {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--text-color-shade);
    line-height: 2;
}

form {
    border: 2px solid var(--accent-color);
    padding: 2rem;
    border-radius: 2rem;
}

label {
    color: var(--text-color-shade);
}

.form-control {
    background: rgba(255, 255, 255, 0.11);
    border: none;
    border-radius: 2rem;
    height: 60px;
    color: var(--text-color);
}

.form-control:hover,
.form-control:focus {
    background: rgba(255, 255, 255, 0.17);
    color: var(--text-color);
}

.valid-focus:focus {
    border: 2px solid green;
}

.invalid-focus:focus {
    border: 2px solid red;
}